@model TestViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="take-test">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">@Model.Topic.Title</h2>
            <div class="card mt-2">
                <div class="card-body border-1 w-100"
                     style="position:relative; max-height:200px; height:200px;"
                     id="article-text">
                    <article>
                        <p>@Model.Topic.Content</p>
                    </article>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-6 mt-3" v-for="q in questions">
            <div>
                {{ q.text }}
            </div>
            <div v-bind:class="{ wrong : a.wrong, selected: a.selected }" v-on:click="selectAnswer(q, a)" v-for="a in q.answers" class="w-100 border mt-1 p-2 answer-hover" style="cursor:pointer;">
                {{ a.text }}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6 offset-3 text-center">
            <button type="button" v-on:click="submit" class="btn btn-primary" :disabled="canSubmit">Take Test</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const app = new Vue({
            el: '#take-test',
            data: {
                questions: @(Json.Serialize(Model.Questions)),
            },
            computed: {
                canSubmit: function () {
                    const isValid = (question) => {
                        for (const a of question.answers)
                            if (a.selected === true)
                                return true;

                        return false;
                    };

                    const result = []
                    for (const q of this.questions)
                        result.push(isValid(q));

                    return result.some(x => x === false);
                }
            },
            methods: {
                selectAnswer: function (question, answer) {
                    for (const a of question.answers)
                        a.selected = false;
                    answer.selected = true;
                },
                submit: function () {
                    const questions = [];
                    for (const q of this.questions) {
                        const temp = {
                            id: q.id,
                            answers: []
                        };
                        questions.push(temp);
                        for (const a of q.answers) {
                            temp.answers.push({ id: a.id, selected: a.selected })
                        }
                    }

                    axios.post('/Test/TakeTest', {
                         Id: @Model.Id,
                         Questions: questions
                    })
                        .then((response) => {
                            for (const question of response.data.questions) {
                                const originalQuestion = this.questions.find(x => x.id === question.id);
                                for (const answer of question.answers) {
                                    const originalAnswer = originalQuestion.answers.find(x => x.id === answer.id);
                                    originalAnswer.wrong = answer.wrong;
                                }
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            }
        });

        const container = document.querySelector('#article-text');
        const ps = new PerfectScrollbar(container);

    </script>
}